/* html {
    margin: 0;
    padding: 0;
} */


#site-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    letter-spacing: .1rem;
    padding-top: 60px;
}

input[type=text] {
    padding: 7px 7px;
    border: 3px solid #a4a4a4;
    /* background-color: #fafafa; */
    border-radius: 10px;
}

select {
    width: 100%;
    padding: 13px 12px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    border-radius: 15px;
  }

body {
    margin: 0;
    height: 100vh; 
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    background-color: white;
}


#new-food-form {
    /* width: 75%; */
}

header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Ensure no padding */
}

.nav-item {
    position: relative;
    flex: 1;
    max-width: 50%; 
    padding: 0; /* Ensure no padding */
    margin: 0; /* Ensure no margin */
}

.nav-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto; /* Adjusted to auto */
    width: 100%; /* Ensuring it takes full width */
    padding: 0; /* Ensure no padding */
    margin: 0; /* Ensure no margin */
}

.nav-images {
    position: relative;
    height: auto; /* Adjusted to auto for responsive design */
    width: 100%; /* Ensuring it takes full width */
}

.nav-item img {
    height: auto;
    width: 100%;
    max-height: 30vh; 
    object-fit: cover;
    padding: 0; /* Ensure no padding */
    margin: 0; /* Ensure no margin */
}

.overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.nav-item:hover .overlay-text {
    opacity: 1;
}

h1 {
    text-align: center;
    margin-top: 0;
    padding: 20px;
    font-family: sans-serif;
    font-size: 2em;
}

h3#instructions{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    width: auto;
    font-size: 2em;
    color: black;

}

form label {
    font-family: 'Montserrat', sans-serif;
}

#menu-items, #menu-items li {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    width: auto;
    font-size: 1.25em;
    color: black;
}
#dish-items,#dish-items li  {
    font-family: sans-serif;
    text-align: left;
    width: auto;
    font-size: 1.25em;
    color: black;
    transition: color 0.5s ease-in-out;
    padding-bottom: 5%;
    /* display: list-item; */
}
#food-description-list, #food-description-list li{

    font-family: sans-serif;
    text-align: left;
    width: auto;
    font-size: 1.25em;
    color: black;
    padding: 5%;
}

 #dish-items li:hover{
    color: aqua;
} 

#instructions-container {
    margin-left: 4%;
    padding: 5%;
    max-width: 33vw;
    border-width: 5px;
    border-style:double;
    border-color: black;
    
}

#menu-items-img-container{
    padding: 5%;
    margin-left: 5%;
    max-width: 60vw;
    border-width: 5px;
    border-style:double;
    border-color: black;
    
}

form {
     display: flex;
    flex-direction:column;
   
    
  }
  label {padding-top: 1%;
  }

  #form-container {
    max-width: 50vw;
    max-height: 10vh;
    padding:3vh;
    margin-left: 25vw;
    margin-right: auto;
  }

  input[type = "submit"]{
    margin-top: 1%;
    margin-bottom: 5%;
    border-radius: 10px;
    border: hidden;

  }

  #middle-section {

    display: flex;
    
  }

  #menu-items-img-container{
   padding-left: 5vw;
   padding-right: 5vw;


  }
  /* #image-box{
    max-height: 50vh;
  } */


  #map-container {
    width: 50%; /* Adjust width as per requirement */
    height: 400px; /* Adjust height as per requirement */
    position: fixed; 
    top: 0; 
    right: 0; /* Positions the map on the right side of the page */
    z-index: 1000; 
    border: none;
}

/* stars symbol on dish item details */
.stars {
    color: red;
    font-size: 1.5em;
    text-shadow: 1px 1px 2px black;
}